.page-title{
text-align:center;
margin-top:90px;
font-family:Arial;
font-size:28px;
color:#333;
}

.tracking-box{
width:70%;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
text-align:center;
}

.status{
margin-top:5px;
color:#555;
font-size:16px;
}



.tracking-steps{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:40px;
position:relative;
}


.tracking-steps::before{
content:"";
position:absolute;
top:50%;
left:0;
width:100%;
height:4px;
background:#ddd;
z-index:0;
}


.step{
position:relative;
background:#ddd;
color:#555;
padding:10px 15px;
border-radius:20px;
font-size:14px;
z-index:1;
}



.step.active{
background:green;
color:white;
}



@media (max-width:768px){

.tracking-box{
width:90%;
padding:20px;
}

.tracking-steps{
flex-direction:column;
gap:15px;
}

.tracking-steps::before{
display:none;
}

}